body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  margin-left: 250px; 
  flex-direction: column; 
  align-items: center; 
}

.app-container h1 {
  text-align: center; 
  margin: 20px 0; 
}

.content {
  display: flex;
  width: 100%;
}

.left-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.right-section {
  margin-top: 50px;
  margin-right: 150px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
